<div class="search__container">
  <h2>Farmacias de turno por comuna</h2>
  <mat-form-field class="example-full-width">
    <mat-label>Buscar comuna</mat-label>
    <input type="text" matInput [formControl]="searchForm" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option" (click)="onSelectOptionComuna(option)">
        {{option.nameComuna}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
<br>

  <mat-form-field class="example-full-width">
    <input type="text"
           placeholder="Buscar local"
           aria-label="Number"
           matInput
           [formControl]="searchLocal"
           [matAutocomplete]="autoLocal">
    <mat-autocomplete   autoActiveFirstOption #autoLocal="matAutocomplete" [displayWith]="displayFnLocal">
      <mat-option *ngFor="let optionLocal of filteredOptionsLocal | async" [value]="optionLocal" (click)="onSelectOptionLocal(optionLocal)" >
        {{optionLocal}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <br>
</div>
<div id="map" class="map-container"></div>
